body {

    background-color: #dd7474;
    font-family: Arial, sans-serif;
    margin: 0;
    /* background-image: url('../images/pexels-chanwalrus-958545.jpg'); */

}


.nav {
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 1em;
}
  


.active {
    background-color: #04AA6D;
}

.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: flexbox;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}



.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.nav li {
    margin: 0;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    font-size: 18px;
}   

.nav li a:hover {
    background-color: #ddd;
    color: black;
}

ul {
    display: flexbox;
    /* gap: 2em; */
    background-color: rgb(133, 149, 45);
    list-style: none;
    overflow: hidden;
    
}

.newtable {
    width: 50%;
    border: 2px solid black;
    margin: 25px auto; 
    text-align: left;
    border-color: black;
}

.newtable th, .newtable td {
    border: 2px solid black;
    padding: 12px 15px;
    border-color: black;
}


.newtable table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

/* Menu-style rows: make table rows behave like clickable menu items */
.newtable tbody tr[data-href] {
    cursor: pointer;
    transition: background-color 0.12s ease;
}

.newtable tbody tr[data-href]:hover {
    background-color: rgba(0,0,0,0.06);
}

.newtable tbody tr[data-href]:focus {
    outline: 3px solid #04AA6D;
    background-color: rgba(4,170,109,0.06);
}


.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}   