body {

    background-color: #dd7474;
    font-family: Arial, sans-serif;
    margin: 0;
    /* background-image: url('../images/pexels-chanwalrus-958545.jpg'); */

}


.nav {
    background-color: rgb(51, 92, 208);
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 1em;
}
  


.active {
    background-color: #04AA6D;
}

.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: flexbox;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}



.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1.25rem;
    align-items: center;
}

.nav li {
    margin: 0;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    font-size: 18px;
}   

.nav li a:hover {
    background-color: #ddd;
    color: black;
}

ul {
    display: flexbox;
    /* gap: 2em; */
    background-color: rgb(133, 149, 45);
    list-style: none;
    overflow: hidden;
    
}

.newtable {
    width: 50%;
    border: 2px solid black;
    margin: 25px auto; 
    text-align: left;
    border-color: black;
}

.newtable th, .newtable td {
    border: 2px solid black;
    padding: 12px 15px;
    border-color: black;
}


.newtable table {
    margin: 0 auto;
    width: 100%;
    border-collapse: collapse;
}

.newtable tbody tr[data-href] {
    cursor: pointer;
    transition: background-color 0.12s ease;
}

.newtable tbody tr[data-href]:hover {
    background-color: rgba(0,0,0,0.06);
}

.newtable tbody tr[data-href]:focus {
    outline: 3px solid #04AA6D;
    background-color: rgba(4,170,109,0.06);
}


.circle-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    background-color: white;
}   


.float-left, .float-right {
    max-width: 45%;
    max-height: 300px;
    border-radius: 10px;
    display: block;
}

.float-left {
    float: left;
    margin: 0 1rem 1rem 0;
}

.float-right {
    float: right;
    margin: 0 0 1rem 1rem;
}

@media (max-width: 640px) {
    .float-left, .float-right {
        display: none !important;
    }
}


@media (max-width: 640px) {
    .newtable {
        width: 100%;
        margin: 12px 8px;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch;
        font-size: 14px; 
    }

    .newtable table {
        width: 100%;
        table-layout: fixed; 
    }

    .newtable th, .newtable td {
        padding: 6px 8px;
        font-size: 0.9rem; 
        word-break: break-word;
    }

    .newtable caption {
        font-size: 1rem;
        padding-bottom: 6px;
    }
}


#floating-img {
    float: right;
    margin: 0 0 10px 10px;
    width: 200px;
    height: auto;
    border-radius: 10px;
    max-width: 1080;
    overflow: auto;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

.content .float-left {
    max-width: 45%;
}

.content .float-right {
    max-width: 45%;
}