body {

    background-color: #dd7474;
    font-family: Arial, sans-serif;
    margin: 0;

}


.nav {
    background-color: blueviolet;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    border-radius: 1em;
}
  


.active {
    background-color: #04AA6D;
}

.nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    display: flex;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}



.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0.25rem;
    align-items: center;
}

.nav li {
    margin: 0;
}

.nav li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
    font-size: 18px;
}   

.nav li a:hover {
    background-color: #ddd;
    color: black;
}

ul {
    display: flex;
    /* gap: 2em; */
    background-color: rgb(133, 149, 45);
    list-style: none;
    overflow: hidden;
    
}